Mithril/zig-cache/
Mithril/zig-out/
Sandbox/zig-cache/
Sandbox/zig-out/
Sandbox/build copy.zig
Mithril/build copy.zig
.vscode/
.gitignore
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json

